<!-- footer -->
<footer class="footer">
    <!-- copyright -->
    <div class="copyright">
        {{site.config.author}} &copy; {{new Date().getFullYear()}}
    </div>
    <button class="toogle-theme" type="button" aria-label="Toogle Theme">🌚</button>
    <!-- /copyright -->
</footer>
<!-- /footer -->