<!-- stylesheet -->
<link rel="stylesheet" type="text/css" href="/assets/css/site.css" />
<link rel="stylesheet" href="/assets/css/structure.css" />


{{ if slug }}
<link rel="stylesheet" type="text/css" href="/assets/css/paginas/{{slug}}.css" />
{{ /if }}