
<!-- javascript -->
<script defer rel="javascript" type="text/javascript" src="/assets/js/utils.js"></script>

{{ if slug }}
<script type="module" rel="javascript" src="/assets/js/paginas/{{slug}}.js"></script>
{{ /if }}