<!-- for Facebook -->
<meta property="og:title" content="{{title ?? site.config.title}}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="assets/icons/logo-facebook-560x292.jpg" />
<meta property="og:url" content="/" />
<meta property="og:description" content="{{description ?? site.config.description}}" />