<!-- for Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{title ?? site.config.title}}" />
<meta name="twitter:description" content="{{description ?? site.config.description}}" />
<meta name="twitter:image" content="/assets/icons/logo-facebook-560x292.jpg" />